{{ define "main" -}}
<div class="posts">
  <article class="post">
    <h1 class="post-title">Najważniejsze "wydarzenia" w życiu Wspólnoty w roku 2019:</h1>
    <ul>
        <li>przyrzeczenia czasowe i definitywne wybranych członków Wspólnoty (1.10.)</li>
        <li>rekolekcje na temat: "Indywidualizm a otwarcie się na prowadzenie Ducha Świętego w życiu świętych Karmelu i w naszym życiu" (o. Michał Swarzyński OCD z Zamartego; Sopot, 14-16.06.)</li>
        <li>wycieczko-pielgrzymka do Mątowów (14.09.)</li>
        <li>wyjazd pielgrzymkowo-rekreacyjny do Wrocławia i okolic wspólnot z Prowincji Warszawskiej (10-13.10.)</li>
        <li>całoroczna formacja dla osób po przyrzeczeniach definitywnych: "Odkrywamy piękno Osoby Ducha Świętego (w oparciu o encyklikę Jana Pawła II Dominum et Vivificantem)"</li>
        <li>kwartalne Dni Skupienia (2.02., 4.05., 7.09. 2.11.)</li>
      </ul>
  </article>
</div>
{{- end }}
