{{ define "main" -}}
<div class="posts">
  <article class="post">
    <h2 class="post-title">Najważniejsze "wydarzenia" (także duchowe) w życiu Wspólnoty w&nbsp;roku&nbsp;2020:</h2>
    <ul>
      <li>kwartalne Dni Skupienia (7.03., 5.09., 5.12.)</li>
      <li>rekolekcje wspólnotowe prowadzone przez o. Michała Swarzyńskiego OCD z Zamartego w "naszym" domu wspólnotowym w Sopocie w dniach 5-7&nbsp;czerwca (rekolekcje z bł. Kandydą od Eucharystii na temat "Żyć Eucharystią")</li>
      <li>odnawianie przyrzeczeń (19.04)</li>
      <li>przyrzeczenia czasowe wybranych członków Wspólnoty (wrzesień)</li>
      <li>przyjmowanie nowych członków (kwiecień/maj)</li>
      <li>wybory we Wspólnocie (listopad)</li>
      <li>Kongres OCDS (Niepokalanów, 27-30 sierpnia, czwartek - niedziela), a na nim wybory Rady Prowincjalnej OCDS</li>
      <li>wycieczko-pielgrzymka do Gdańska (1.08)</li>
    </ul>
  </article>
</div>
{{- end }}
