{{ define "main" -}}
<div class="posts">
    <article class="post">
        <h2 class="post-title">Najważniejsze „wydarzenia” (także duchowe) w życiu sopockiej Wspólnoty OCDS w 2023 r.:</h2>
        <ul>
            <li>nocne czuwanie Rodziny Szkaplerznej Prowincji Warszawskiej na Jasnej Górze (poniedziałek/wtorek, 21/22 sierpnia)</li>
            <li>peregrynacja relikwii św. Teresy od Dzieciątka Jezus wśród członków Wspólnoty</li>
            <li>Kwartalne Dni Skupienia: 14 stycznia, 22 kwietnia, 4 września, 6 listopada</li>
            <li>doroczne rekolekcje wspólnotowe, prowadzone przez o. Tomasza Litwiejko, w dniach 14-16 kwietnia</li>
            <li>wspólnotowe odnawianie przyrzeczeń w okresie wielkanocnym</li>
            <li>przyjęcie nowych członków do Wspólnoty (czerwiec/wrzesień)</li>
            <li>wyprawa rekreacyjno-pielgrzymkowa do Sianowa (22.07)</li>
            <li>posługa modlitewno-wstawiennicza za siebie nawzajem i w intencjach poleconych</li>
        </ul>
    </article>
</div>
{{- end }}
